<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="4.4.2.9744" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net45" />
  <package id="SharpDevelopCodeCompletion" version="1.33.2.0" targetFramework="net45" />
</packages>